{% extends 'base.html' %}
{% block title %}
Погодное приложение
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-4 offset-1">
        <form action="" method="post">
            {% csrf_token %}
            <h2><label for="city">Город</label></h2><br>
            {{form.name}} <br>
            <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-danger">
        </form>
    </div>
    <div class="col-5 offset-1">
        <h2>Информация</h2>
        {% for info in all_info %}
        <div class="alert alert-info">
            <div class="row">
                <div class="col-7">
                    <b>Город: </b>{{info.city}}<br>
                    <b>Температура: </b>{{info.temp}}<sup>0</sup><br>
                </div>
                <div class="col-2 offset-1">
                    <img src="http://openweathermap.org/img/w/{{info.icon}}.png" alt="Фото погоды" width="100%">
                </div>
            </div>
            <a href="{% url 'city_detail' info.pk %}"
                   class="btn btn-primary">
                    Подробнее
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}